<!DOCTYPE html>
<!--[if IEMobile 7]><html lang="en" class="iem7"><![endif]-->
<!--[if (lte IE 7)&!(IEMobile)]><html lang="en" class="ie oldie"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)|!(IEMobile)]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>My Blog</title>
    <!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="cleartype" content="on" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="blog.rss">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/libs/bootstrap.css" media="screen,handheld,print" />
    <link rel="stylesheet" href="static/css/typography.css" media="screen,handheld,print" />
    <link rel="stylesheet" href="static/css/basic.css" media="screen,handheld,print" />
    <link rel="stylesheet" href="static/css/mobile.css" media="only screen and (min-width: 320px) and (max-width:719px)" />
    <link rel="stylesheet" href="static/css/desktop.css" media="only screen and (min-width: 720px)" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/css/desktop.css" media="screen" />
    <![endif]-->
</head>
<body>
    <div class="container">
        <header>
            <h1 id="logo">My Site</h1>
        </header>

        <h3>Page Not Found</h3>
    </div>

</body>
